body {
  background: #222;
  color: #DDD;
  font-size: 60px;
}

div.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

div.wiki h1, div.markdown h1 {
  color: #B33;
  font-family: "Times New Roman";
  font-size: 150%;
  margin: 0.2em 1em;
  padding: 0.2em;
  text-align: center;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  text-shadow: 3px 3px 10px #000;
  box-shadow: 10px 10px 10px #333;
  -moz-box-shadow: 10px 10px 10px #333;
  background: -webkit-gradient(linear, center bottom, center top, from(#999), to(#FFF));
  background: -moz-linear-gradient(90deg, #999, #FFF);
  font-weight: 800;
}

div.wiki h2,div.markdown h2 {
  font-size: 100%;
  color: #24F;
  margin: 0.8em 1.6em;
  font-weight: 900;
}

div.wiki p, div.markdown p {
  font-size: 100%;
  margin: 0.8em 0em 0.8em 2.2em;
  text-shadow: 2px 2px 4px #777;
}

div.wiki ul, div.markdown ul {
  margin: 0.8em 0em 0.8em 2.2em;
  list-style-type: square;
}

div.wiki ul li, div.markdown ul li {
  margin: 0.3em 0;
}

div.takahashi p {
  font-size: 250%;
  margin: 15px;
}

div.takahashi em {
  color: #FFC000;
  font-style: normal;
  font-weight: 900;
  text-shadow: 10px 10px 15px #000;
}

div.takahashi p.small {
  font-size: 100%;
  color: #AAA;
}

div.takahashi strong {
  color: #C00;
  font-weight: 900;
  text-shadow: 10px 10px 15px #000;
}

#title-slide h1 {
  margin: 0;
  text-align: center;
  font-size: 225%;
}

#title-slide .label-html {
  color: #A61;
}

#title-slide .label-5 {
  font-size: 200%;
  color: #B33;
  text-shadow: 10px 10px 15px #000;
}

#title-slide h2 {
  text-align: center;
  font-size: 165%;
  text-shadow: 2px 2px 5px #666;
}

#title-slide .author {
  color: #225;
  font-weight: 900;
  font-family: "Times New Roman";
  border: #111 solid;
  border-width: 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#666));
  background: -moz-linear-gradient(-90deg, #AAA, #666);
  box-shadow: 0 10px 10px #333;
  -moz-box-shadow: 0 10px 10px #333;
  margin: 0 10px;
  padding: 0.5em;
  text-align: center;
}

#title-slide .author a:link, #title-slide .author a:visited {
  color: inherit;
  text-decoration: none;
}

#title-slide .author a:hover {
  color: #622;
  text-decoration: underline;
}
